 <footer class="footer">
  <div class="footer-container">
    
    <div class="footer-col">
      <h3>Hacerca de reportAPP</h3>
      <p>Plataforma ciudadana para reportar problemáticas urbanas y promover la transparencia.</p>
    </div>

    <div class="footer-col">
      <h4>Legal</h4>
      <ul>
        <li><a href="#">inicio</a></li>
        <li><a href="#">hombres</a></li>
        <li><a href="#">mujeres</a></li>
      
      </ul>
    </div>

    <div class="footer-col">
      <h4>Contacto</h4>
      <p>¿Tienes preguntas o necesitas ayuda?</p>
      <p>soporte@reportapp.com</p>
    </div>

  </div>

  <div class="footer-bottom">
    <p>© 2026 ReportApp. Plataforma de participación ciudadana.</p>
  </div>
</footer>