 <footer class="footer">
  <div class="footer-container">
    
    <div class="footer-col">
      <h3>Hacerca de reportAPP</h3>
      <p>Plataforma ciudadana para reportar problemáticas urbanas y promover la transparencia.</p>
    </div>

    <div class="footer-col">
      <h4>Legal</h4>
     <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore voluptates asperiores blanditiis at iusto aut omnis culpa possimus ut recusandae autem perferendis voluptatem, mollitia quos optio. Repudiandae voluptate blanditiis eius!</p>
    </div>

    <div class="footer-col">
      <h4>Contacto</h4>
      <p>¿Tienes preguntas o necesitas ayuda?</p>
      <p>soporte@reportapp.com</p>
    </div>

  </div>

  <div class="footer-bottom">
    <p>© 2026 ReportApp. Plataforma de participación ciudadana.</p>
  </div>
</footer>