<header class="navbar">
  <div class="nav-left">
    <div class="logo-box">
      <i class="bi bi-exclamation-triangle"></i>
    </div>

    <div class="logo-text">
      <h3>ReportApp</h3>
      <span>Reportes Ciudadanos</span>
    </div>
  </div>

 
  <nav class="nav-menu" id="navMenu">
    <a href="index" class="nav-item">
      <i class="bi bi-house-door"></i> Inicio</a
    >

    <a href="explorar" class="nav-item">
      <i class="bi bi-search"></i> Explorar</a
    >
    <a href="perfil" class="nav-item"><i class="bi bi-person"></i> Perfil</a>
    <a href="transparencia" class="nav-item"
      ><i class="bi bi-bar-chart"></i> Transparencia</a
    >
  </nav>

  <nav class="nav-right">
    <a href="index" class="nav-item">
      <i class="bi bi-house-door"></i> Inicio</a
    >

    <a href="explorar" class="nav-item">
      <i class="bi bi-search"></i> Explorar</a
    >
    <a href="transparencia" class="nav-item"
      ><i class="bi bi-bar-chart"></i> Transparencia</a
    >
    <a href="perfil" class="nav-item"><i class="bi bi-person"></i> Perfil</a>
    
  </nav>
</header>
